.container {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.infoContainer{
    height:fit-content;
    align-items: center;
}
.infoContainer,
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: var(--bg-soft);
}

.formContainer {
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
}

.form input,.form select, .form textarea {
    margin-bottom: 10px;
    padding:15px;
    border-radius: 5px;
    background-color: var(--bg-primary);
    color:white;
    border:1px solid var(--bg-hover);
}

.form label {
    font-size: 12px;
    margin-bottom: 5px;
}
.avatar{
    width: 200px;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.avatarImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.form button{
    margin-top: 20px;
    background: var(--green-hevy);
    color:var(--text);
    padding:15px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}