.container{
    background: var(--bg-soft);
    border-radius: 10px;
    padding:15px;
}
.title{
    color: var(--text-soft);
    font-weight: 300;
    margin-bottom: 20px;
}
.table{
    width:100%;
}
.table td{
    padding:10px;

}

.table .user{
    display: flex;
    align-items: center;
    gap:15px;
}
.userImg{
    border-radius: 10rem;
    object-fit: cover;
}
.status{
    padding:2px 5px;
    border-radius: 5px;
}
.pending{
    background: var(--pending);
}
.cancel{
    background:var(--cancel);
}
.done{
    background: var(--done);
}
.table tbody tr{
    cursor: pointer;
}
.table tbody tr:hover{
    background-color: var(--bg-hover);
}