.container {
    padding: 20px;
    background: var(--bg-soft);
    margin-top: 20px;
    border-radius: 10px;
    color: var(--text);
}

.wrap {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
}

.imageDisplay{
    height: 100%;
    object-fit: contain;
}
.bookImage{
    padding-block: 10px;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
}

.boxImage {
    /* max-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 10px;
}

.btnAdd {
    background: var(--btn-add);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.table {
    margin-top: 20px;
    width: 100%;
}

.table td {
    padding: 10px;
    cursor: pointer;
}

.table tr:hover {
    background: var(--bg-hover);
}

.button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    background: var(--red-hevy);
}

.view {
    background: var(--green-hevy)
}

.add {
    margin-top: 10px;
    background: var(--blue)
}

.edit {
    background: var(--blue)
}

.btns {
    display: flex;
    gap: 10px;
}

.product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product img {
    border-radius: 10rem;
}

.titleCol {
    width: 30%;
}

.des {
    padding-right: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form select {
    background: var(--bg-primary);
    border: 1px solid var(--bg-hover);
    border-radius: 5px;
    color: var(--text-soft);
    padding: 15px;
}

.form select {
    color: var(--text);
    font-weight: bold;
}

.form textarea {
    padding: 15px;
    grid-column: 1/3;
    background: var(--bg-primary);
    border: 1px solid var(--bg-hover);
    border-radius: 5px;
    outline: none;
    color: var(--text-soft);
}

.form button {
    border-radius: 5px;
    background: var(--green-hevy);
    cursor: pointer;
    grid-column: 1/3;
    padding: 15px;
    border: none;
    color: var(--text);
}

.boxCategorySelect {
    padding: 20px;
    border: 1px solid var(--text);
    display: flex;
    gap: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    min-height: 100px;
}

.boxCategoryItems {
    cursor: pointer;
    height: fit-content;
    color: var(--text);
    padding: 5px 10px;
    border: 1px solid var(--text);
    border-radius: 1000px;
    font-weight: 500;
    transition: .25s;
}

.boxCategoryItems:hover {
    transform: scale(1.1);
}

.bookImage {
    width: 300px;
    max-height: 300px;
}

.tableInfo td {
    min-width: 100px;
    padding: 10px 0px 10px 10px;
}

.boxCategoryDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.itemCategoryDisplay {
    border: 1px solid var(--text);
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}
.itemCategoryDisplay:hover{
    background: var(--bg-hover);
}

.boxUploadImage{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}